<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{95,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>commonSprites1.png</string>
            <key>size</key>
            <string>{97,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95491209e6232ddf06bb8438e9f9977:6f0a1b00cb707d9926cdf74cf22e7e19:bfbdf587941f15f1c55f93b3a17e492a$</string>
            <key>textureFileName</key>
            <string>commonSprites1.png</string>
        </dict>
    </dict>
</plist>
