<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characters/brown-dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{199,189}</string>
                <key>spriteSourceSize</key>
                <string>{199,239}</string>
                <key>textureRect</key>
                <string>{{1,478},{199,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,475}</string>
                <key>spriteSourceSize</key>
                <string>{400,475}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites-1.png</string>
            <key>size</key>
            <string>{402,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2a7d7b1a5c8bc138ba6236fd8101ebf:f979baa0a17e8e25ea53945e5a188027:a4b4e387cf4186c24cb5681c120de2b8$</string>
            <key>textureFileName</key>
            <string>sprites-1.png</string>
        </dict>
    </dict>
</plist>
